/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  --first-color: hsl(289, 54%, 24%);
  --secondary-color: hsl(163, 100%, 45%);
  --white-color: #fafaff;
  --dark-color: #172833;
  --text-color: #474e50;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Montserrat', sans-serif;
  --big-font-size: 2.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
}

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  z-index: var(--z-fixed);
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
}

.l-header.scroll-header {
  background-color: var(--first-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    z-index: var(--z-fixed);
    top: var(--header-height);
    opacity: 0;
    pointer-events: none;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 4rem;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

.nav__item {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.nav__link {
  font-size: var(--h2-font-size);
  position: relative;
  color: var(--dark-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__logo {
  width: 2rem;
}

.nav__toggle {
  border-radius: 10px;
  padding: 0px 7px;
  background-color: rgba(255, 255, 255, 0.39);
  position: fixed;
  right: 1rem;
  z-index: var(--z-fixed);
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__toggle .md {
  height: 30px;
  width: 20px;
}

/*=== Show menu ===*/
.show {
  opacity: 1;
  pointer-events: all;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  background: linear-gradient(423deg, var(--first-color), #5eccad);
  position: relative;
  background-color: var(--first-color);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home .overlay {
  background: url("../img/asset 1.png");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.home .background :nth-child(1) {
  position: absolute;
  bottom: 0;
}

.home__container {
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  position: relative;
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
}

.home__title {
  font-family: 'Playfair Display', serif;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  text-transform: capitalize;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 1.2;
}

.home__scroll {
  place-self: end start;
  padding-bottom: var(--mb-4);
}

.home__scroll-link {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: var(--white-color);
}

.home__img {
  display: block;
  position: static;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* ===== ABOUT =====*/
.about {
  position: relative;
}

.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}

.about__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.about__text {
  margin-bottom: var(--mb-4);
}

.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}

.about__social-icon {
  font-size: 1.5rem;
  margin: 0 var(--mb-4);
}

.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  place-items: center;
  text-align: center;
}

.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .skills .skill:nth-child(3) {
    grid-column: span 2;
  }
}

.skills .skill .skill-img {
  width: 77px;
  height: 77px;
  position: relative;
}

.skills .skill svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: var(--white-color);
}

.portfolio .container__button {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem auto 3rem;
}

.portfolio .container__button .button {
  letter-spacing: 1px;
  color: white;
  font-size: var(--font-medium);
  background-color: var(--first-color);
  padding: 0.5rem 0.7rem;
}

.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__img img {
  border-radius: 0.5rem;
}

.portfolio__img:hover .portfolio__link {
  bottom: 0;
}

.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__link-name {
  color: var(--dark-color);
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 2rem;
}

.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}

.contact .contact__email {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
          box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact .contact__email:hover {
  color: #bb001b;
}

.contact .contact__email i {
  margin-right: 1rem;
  font-size: 2rem;
}

.contact .icon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .icon__wrapper a {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
          box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.contact .icon__wrapper .bx {
  margin-right: 1rem;
  font-size: 2rem;
}

.contact .icon__wrapper [class*='telegram']:hover {
  color: #0088cc;
}

.contact .icon__wrapper [class*='whatsapp']:hover {
  color: #25d366;
}

.contact__inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.contact__input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 0px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  -webkit-box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
          box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
}

.contact__input:focus {
  border-color: var(--first-color);
}

.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
          box-shadow: 7px 7px 17px #e6e6e6, -7px -7px 17px #f1f1f1;
}

/* ===== FOOTER=====*/
.footer {
  padding: 0;
  background: linear-gradient(423deg, var(--first-color), #5eccad);
}

.footer__container {
  height: 10vh;
  place-items: start;
}

.footer__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: var(--normal-font-size);
  margin-left: 1rem;
  margin-right: 1rem;
  width: 35px;
  height: 35px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.footer__social .bx {
  font-size: 1.4rem;
}

.footer__social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.53);
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.53);
  color: var(--first-color);
}

/* ===== MEDIA QUERIES=====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home__img {
    width: 230px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 64px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__logo {
    width: 2.8rem;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    font-size: var(--small-font-size);
    color: var(--white-color);
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .active::after {
    background-color: var(--white-color);
  }
  .home__container {
    height: 100vh;
    -ms-grid-rows: 1.7fr 1fr;
        grid-template-rows: 1.7fr 1fr;
    row-gap: 0;
  }
  .home__img {
    width: 524px;
    right: 0;
  }
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    width: 200px;
    height: 200px;
  }
  .about__social-icon {
    font-size: 1.5rem;
    margin: 0 var(--mb-4) 0 0;
  }
  .skills__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .contact__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .contact__form {
    width: 380px;
  }
  .footer {
    padding: 0;
  }
  .footer__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .footer__social {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 640px;
  }
  .home__img {
    width: 500px;
    right: 24%;
  }
}

/* 15 */
.custom-btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.btn-15 {
  background: var(--first-color);
  border: none;
  z-index: 1;
}

.btn-15:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--secondary-color);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #fff;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}
/*# sourceMappingURL=styles.css.map */